<div class="container col-6">
<h1><%= @restaurant.name %></h1>
<h4><%= @restaurant.category %></h4>
<p><em><%= @restaurant.address %><em></p>
<%= link_to 'Back to all restaurants', restaurants_path %>
</div>
